    body{
      overflow-y:scroll;
    }
    
      ul[id="nav"] {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: cadetblue;
      border-radius: 2em;
      width: 100%;
      }
          
      
      nav{height: 100%;}

      .nav a {
        float: left;
        padding: 0px;
        color: white;
        text-decoration: none;
        font-size: 15px;
        width: 14.28615%; 
        height: 50px;
        text-align: center;
      }

      #nav a {
      display: block;
      color:whitesmoke;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      }

      #nav a:hover {
      background-color: green;
      height: 50px;
      }

      .active {
      background-color: red;
      color: black;
      font-style: italic;
      font-weight: bold;
      }
  
    a{text-decoration: none;}
    
    .container {
      position: relative;
      text-align: center;
      color: black;
    }

    * {box-sizing: border-box;
    }
    
    .column1 {
      float: left;
      width: 30%;
      padding: 10px;
      height: 100%; 
    }
    
    .column2 {
      float: left;
      width: 70%;
      padding: 10px;
      height: 100%; 
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    

